{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bloggen {%block title %}{%endblock%}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"
    </head>
    <body>
        <div id=header>
            <p>Welcome to <a href="/">the blog</a></p>
            <p>About me</p>
        </div>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
        {# <div id='footer'> <p>Lol, Denne side er ©Påbøl 2017</p></div> #}
    </body>
</html>
